streamlit
pandas
altair
vega_datasets
tensorflow==1.15.0
bert-tensorflow==1.0.1
tensorflow-serving-api
bentoml==0.6.1
numpy
gensim==3.8.3
scikit-learn
nltk
tqdm
wordcloud
tensorflow_hub
scipy==1.2.1